In [13]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_csv('./data/flights.csv')

In [15]:
df.shape

(10, 7)

In [16]:
df.head()

,FLIGHTnumber,Origin,Destination,Duration,Distance,DelayMinutes,Canceled
0,1001,LAX,DXB,90,540,5,0
1,1002,LAB,SFA,80,540,50,0
2,1003,LAC,SVB,120,540,54,0
3,1004,DEL,SHJ,50,540,45,0
4,1005,KHI,AJM,60,540,15,0

In [20]:
# Avg Duration of flights
avg_dur = df['Duration'].mean()
print(avg_dur)

65.0

In [21]:
# 3 longest Duration flights
longest = df.nlargest(3, 'Duration')
longest

,FLIGHTnumber,Origin,Destination,Duration,Distance,DelayMinutes,Canceled
2,1003,LAC,SVB,120,540,54,0
0,1001,LAX,DXB,90,540,5,0
9,1010,AJM,SAF,90,540,75,0

In [22]:
delay = np.std(df["DelayMinutes"])
delay

np.float64(20.19504889818294)